/*********************************************************
  // global color variables
**********************************************************/
/*********************************************************
  // Font variables
**********************************************************/
/*********************************************************
  // spacing variables
**********************************************************/
/*********************************************************
  // screens
**********************************************************/
/* Main properties that control the layout direction are:
-----------------------------------------------
- Direction (LTR/RTL)
- Float (left/right)
- Margin 
- Padding
- Absolute position (left/right)
- Background position (left/right)
- Border
- Border radious
- Note: "Think about flexbox properties"
*/
/* Clearfix */
/* Direction */
/* Float */
/* Margin */
/* Padding */
/* Left And Right For Absolute Position */
/* Border */
/*********************************************************
  // global color variables
**********************************************************/
/*********************************************************
  // Font variables
**********************************************************/
/*********************************************************
  // spacing variables
**********************************************************/
/*********************************************************
  // screens
**********************************************************/
* {
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "HSDream-Light";
  src: url("../fonts/din-next-lt-w23-regular.ttf");
  font-display: swap;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "HSDream-Light", sans-serif, "Font Awesome 5 Free";
  overflow-x: hidden;
  direction: rtl;
  text-align: right;
}
body.light-theme {
  background-color: #ffffff;
  color: #555555;
}
body.dark-theme {
  color: #ffffff;
  background-color: #031122;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

p {
  color: #a9a9a9;
  margin: 0;
  font-size: 1em;
}

input:focus::placeholder {
  color: transparent;
}

*::placeholder {
  color: #444;
  transition: all 0.3s ease;
}

form {
  padding: 0;
  margin: 0 auto;
  text-align: right;
  width: 100%;
}

a {
  text-decoration: none !important;
}

.owl-carousel {
  touch-action: manipulation;
}

ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

button,
input[type=submit] {
  cursor: pointer;
}

button,
a {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

select:focus,
button:focus,
input:focus {
  outline: 0;
}

/* owl carousel*/
.owl-carousel .owl-stage, .owl-carousel.owl-drag .owl-item {
  -ms-touch-action: auto;
  touch-action: auto;
}

/* owl carousel*/
@media (min-width: 1720px) {
  .container {
    max-width: 1418px;
  }
  .container.lg {
    max-width: 1550px;
  }
}
/*********************************************************
  // global color variables
**********************************************************/
/*********************************************************
  // Font variables
**********************************************************/
/*********************************************************
  // spacing variables
**********************************************************/
/*********************************************************
  // screens
**********************************************************/
.header {
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.5s ease-out;
  background-color: #F3F3F3;
  box-shadow: 0 0 24px 0 rgba(2, 2, 2, 0.1098039216);
}
.header.fixed {
  background-image: linear-gradient(to top, #fff, #f5f5f4);
  box-shadow: 0 3px 10px rgba(90, 74, 40, 0.16);
  padding-top: 10px;
  padding-bottom: 10px;
}
.header.fixed .nav-header {
  padding: 0;
}

.nav-header {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-header .logo {
  display: block;
}
.nav-header .logo img {
  margin-inline-end: 9.5px;
  max-height: 40px;
  object-fit: cover;
}
.nav-header .logo p {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #000000;
}
@media (max-width: 576px) {
  .nav-header .logo p {
    font-size: 16px;
  }
}
.nav-header .nav-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 45px;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
@media (max-width: 1280px) {
  .nav-header .nav-links {
    gap: 30px;
  }
}
@media (max-width: 1000px) {
  .nav-header .nav-links {
    position: fixed;
    padding: 20px 0;
    top: 0;
    width: 170px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 4;
    flex-direction: column;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    justify-content: flex-start;
    flex-grow: 0;
    overflow-y: auto;
  }
  html[lang=en] .nav-header .nav-links {
    right: 0;
  }
  html[lang=ar] .nav-header .nav-links {
    left: 0;
  }
  html[lang=en] .nav-header .nav-links {
    transform: translateX(100%);
  }
  html[lang=ar] .nav-header .nav-links {
    transform: translateX(-100%);
  }
  html[lang=en] .nav-header .nav-links.active {
    transform: translateX(0);
  }
  html[lang=ar] .nav-header .nav-links.active {
    transform: translateX(0);
  }
}
.nav-header .nav-links .link {
  display: block;
  font-size: 17px;
  color: #000;
  font-weight: 600;
}
@media (max-width: 768px) {
  .nav-header .nav-links .link {
    color: #fff;
    font-size: 15px;
  }
}
.nav-header .nav-links .link.active, .nav-header .nav-links .link:hover {
  color: #5F221E;
}
@media (max-width: 768px) {
  .nav-header .nav-links .link.active, .nav-header .nav-links .link:hover {
    color: #fff;
  }
}
@media (max-width: 1000px) {
  .nav-header .nav-links li:not(:last-child) {
    margin-bottom: 35px;
  }
}
.nav-header .nav-links::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  transition: 0.3s;
}
@media (max-width: 768px) {
  .nav-header .nav-links::-webkit-scrollbar {
    height: 1px;
  }
}
.nav-header .nav-links::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 3px;
  transition: 0.3s;
}
.nav-header .nav-links::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to top, #E4E4E4, #5E221E);
  transition: 0.3s;
  border-radius: 3px;
}
.nav-header .nav-links::-webkit-scrollbar-thumb {
  transition: 0.3s;
}
.nav-header .nav-links::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.nav-header .left {
  gap: 8px;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .nav-header .left {
    display: flex;
  }
}
.nav-header .left .lang {
  margin-inline-start: 10px;
}
@media (max-width: 550px) {
  .nav-header .left .lang {
    margin-inline-start: 7px;
  }
}
.nav-header .left .lang .dropdown-menu {
  min-width: 99px;
  padding: 5px 10px;
  margin-top: 15px;
}
@media (max-width: 550px) {
  .nav-header .left .lang .dropdown-menu {
    min-width: 70px;
  }
}
.nav-header .left .lang .dropdown-menu .dropdown-item {
  padding: 0;
}
.nav-header .left .lang .dropdown-menu .dropdown-item:hover, .nav-header .left .lang .dropdown-menu .dropdown-item:focus {
  background-color: #fff;
}
.nav-header .left .lang .dropdown-menu .dropdown-item.active {
  color: #000;
  background-color: #fff;
}
.nav-header .left .lang button {
  background: transparent;
  display: flex;
  align-items: center;
  color: #000;
  font-size: 14px;
  padding: 0;
}
.nav-header .left .lang button::after {
  content: "\f078";
  top: 30%;
  font-weight: 600;
  color: #000;
  font-size: 11px;
}
html[lang=en] .nav-header .left .lang button::after {
  right: 0;
}
html[lang=ar] .nav-header .left .lang button::after {
  left: 0;
}
html[lang=en] .nav-header .left .lang button::after {
  margin-left: 5px;
}
html[lang=ar] .nav-header .left .lang button::after {
  margin-right: 5px;
}
.nav-header .left .sign-link {
  font-size: 14px;
  color: #fff;
  background: #F26523;
  padding: 13px;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .nav-header .left .sign-link {
    padding: 8px 10px;
    font-size: 18px;
  }
  html[lang=en] .nav-header .left .sign-link {
    margin-left: 10px;
  }
  html[lang=ar] .nav-header .left .sign-link {
    margin-right: 10px;
  }
}
@media (max-width: 768px) {
  .nav-header .left .sign-link span {
    display: none;
  }
}
.nav-header .left .sign-link i {
  display: none;
}
@media (max-width: 768px) {
  .nav-header .left .sign-link i {
    display: block;
  }
}

body {
  background-color: #F3F3F3;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  transition: 0.3s;
}
@media (max-width: 768px) {
  body::-webkit-scrollbar {
    height: 1px;
  }
}
body::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 3px;
  transition: 0.3s;
}
body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to top, #602420, #ab9f9f);
  transition: 0.3s;
  border-radius: 3px;
}
body::-webkit-scrollbar-thumb {
  transition: 0.3s;
}
body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.main-btn {
  background: #5E221E;
  min-width: 160px;
  height: 45px;
  padding: 15px 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  text-decoration: none;
  --c: #fff;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  border: 1px solid #fff;
}
.main-btn i {
  margin-inline-start: 10px;
}
.main-btn.sm {
  height: 40px;
}
@media (max-width: 576px) {
  .main-btn {
    min-width: 120px;
  }
}

.main-btn span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

.main-btn:hover {
  color: black;
  border-color: #5E221E;
}

.main-btn:hover span {
  transform: translateY(0) scale(2);
}

.main-btn span:nth-child(1) {
  --n: 1;
}

.main-btn span:nth-child(2) {
  --n: 2;
}

.main-btn span:nth-child(3) {
  --n: 3;
}

.main-btn span:nth-child(4) {
  --n: 4;
}

.nav-btn {
  background: transparent;
  width: 30px;
  height: 20px;
  position: relative;
  display: none;
  padding: 0;
}
@media (max-width: 1000px) {
  .nav-btn {
    display: block;
  }
}
.nav-btn span {
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #000;
  transition: 0.5s;
  left: 0;
}
.nav-btn span:nth-child(1) {
  top: 0;
}
.nav-btn span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.nav-btn span:nth-child(3) {
  top: 100%;
  transform: translateY(-100%);
}
.nav-btn.active span:first-child {
  top: 50%;
  transform: rotate(45deg);
  transition: 0.5s;
}
.nav-btn.active span:nth-child(2) {
  opacity: 0;
}
html[lang=en] .nav-btn.active span:nth-child(2) {
  transform: translateX(-150%);
}
html[lang=ar] .nav-btn.active span:nth-child(2) {
  transform: translateX(150%);
}
.nav-btn.active span:last-child {
  top: 50%;
  transform: rotate(-45deg);
  transition: 0.5s;
}

@media (max-width: 768px) {
  .nav-overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: #000;
    opacity: 0.5;
    transition: 0.5s;
  }
  html[lang=en] .nav-overlay {
    transform: translateX(-100%);
  }
  html[lang=ar] .nav-overlay {
    transform: translateX(100%);
  }
  html[lang=en] .nav-overlay {
    left: 0;
  }
  html[lang=ar] .nav-overlay {
    right: 0;
  }
  html[lang=en] .nav-overlay.show {
    transform: translateX(0);
  }
  html[lang=ar] .nav-overlay.show {
    transform: translateX(0);
  }
}

.banner-home {
  padding: 120px 0 35px;
  background-color: #E4E4E4;
  margin-bottom: 150px;
}
@media (max-width: 768px) {
  .banner-home {
    padding: 100px 0;
    margin-bottom: 100px;
  }
}
@media (max-width: 576px) {
  .banner-home {
    padding: 90px 0;
    margin-bottom: 80px;
  }
}

.banner-text .title {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 0;
}
@media (max-width: 576px) {
  .banner-text .title {
    font-size: 26px;
  }
}
.banner-text .title.cl {
  color: rgba(0, 0, 0, 0.8);
}
.banner-text .sub-title {
  font-size: 25px;
  margin-bottom: 0;
  color: #000;
}
@media (max-width: 576px) {
  .banner-text .sub-title {
    font-size: 19px;
  }
}

.banner-img .img {
  height: 445px;
  object-fit: cover;
  width: auto;
  max-width: 100%;
}
@media (max-width: 576px) {
  .banner-img .img {
    height: auto;
  }
}

.inner-counter {
  background-color: rgba(255, 255, 255, 0.2588235294);
  backdrop-filter: blur(25.7px);
  padding: 20px 20px 0;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.inner-counter .hint {
  font-size: 18px;
  color: #000;
  font-weight: bold;
  margin-bottom: 5px;
}
@media (max-width: 576px) {
  .inner-counter .hint {
    font-size: 18px;
  }
}

.count_num, .counter_plugin {
  gap: 2px;
  font-size: 25px;
  color: #892E2A;
  font-weight: bold;
  justify-content: center;
}

.dsec_num {
  font-size: 17px;
  color: #000;
}

.box {
  padding: 15px 20px 20px;
  background-color: #FAFAFA;
  border-radius: 20px;
  box-shadow: 0px 0px 5px rgba(148, 148, 148, 0.5);
  position: relative;
  z-index: 999 !important;
  overflow: hidden;
  transition: all 0.5s linear;
}
.box .image-content {
  width: 90px;
  height: 90px;
  padding: 20px;
  background: #fff;
  border-radius: 50%;
  transition: all 0.4s linear;
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .box .image-content {
    width: 70px;
    height: 70px;
    padding: 15px;
    margin-bottom: 10px;
  }
}
.box .image-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box .content h4 {
  font-size: 20px;
  color: #000;
  font-family: "bold";
  margin-bottom: 20px;
}
.box .content p {
  font-size: 14px;
  line-height: 1.8rem;
  color: #949494;
}
.box::after {
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  right: -50px;
  bottom: -50px;
  z-index: -1;
  background-color: #EDEEF6;
  animation: rotate 8s infinite ease-in-out;
  box-shadow: -30px -30px 0px 0px rgba(237, 238, 246, 0.5);
}
.box:hover {
  transform: translateY(-15px);
  background-color: #fff;
}
.box:hover .content h4, .box:hover .content p {
  color: #000;
}
.box:hover .image-content {
  background-color: #892E2A;
}
.box:hover .service_img {
  filter: brightness(0) invert(1);
}

/*start rotate*/
@keyframes rotate {
  0% {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    transform: rotate(0deg) scale(1); /* Add rotation and scale */
  }
  25% {
    border-top-left-radius: 40%;
    border-top-right-radius: 60%;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 40%;
    transform: rotate(5deg) scale(1.05); /* Slight rotation and scaling */
  }
  50% {
    border-top-left-radius: 60%;
    border-top-right-radius: 40%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 60%;
    transform: rotate(-5deg) scale(1.1); /* Reverse rotation and scaling */
  }
  75% {
    border-top-left-radius: 55%;
    border-top-right-radius: 55%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 55%;
    transform: rotate(3deg) scale(1.05); /* Smooth rotation */
  }
  100% {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    transform: rotate(0deg) scale(1); /* Back to normal */
  }
}
.main-title {
  font-size: 22px;
  color: #000;
}
.main-title.lg {
  font-size: 28px;
}
@media (max-width: 576px) {
  .main-title.lg {
    font-size: 22px;
  }
}
.main-title.shape {
  position: relative;
  width: fit-content;
}
.main-title.shape::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40px;
  height: 4px;
  border-radius: 30px;
  background-color: #892E2A;
}
html[lang=en] .main-title.shape::after {
  left: 0;
}
html[lang=ar] .main-title.shape::after {
  right: 0;
}
html[lang=en] .main-title.shape::after {
  transform: translate(-120%, -50%);
}
html[lang=ar] .main-title.shape::after {
  transform: translate(120%, -50%);
}
.main-title.xl {
  font-size: 36px;
}
@media (max-width: 576px) {
  .main-title.xl {
    font-size: 28px;
  }
}

.wh-color {
  color: #fff;
}

.gray {
  color: rgba(230, 230, 230, 0.8);
}

.bold {
  font-weight: bold;
}

.desc {
  font-size: 19px;
  color: rgba(80, 75, 75, 0.8);
}

.custom-mb {
  margin-bottom: 100px;
}
@media (max-width: 768px) {
  .custom-mb {
    margin-bottom: 60px;
  }
}
@media (max-width: 576px) {
  .custom-mb {
    margin-bottom: 30px;
  }
}

.hint-span {
  display: flex;
  height: 4px;
  background: #892E2A;
  border-radius: 20px;
  width: 80px;
}

.text-info {
  display: flex;
  align-items: center;
}

.about-shape {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.about-name {
  margin-inline-start: -15px;
}

.about_image {
  object-fit: cover;
  width: 100%;
  max-height: 450px;
}

.owl-item .item {
  transform: translate3d(0, 0, 0);
  margin: 50px 0; /* OVERWRITE PLUGIN MARGIN */
}

.our-work-slid .owl-item .item img {
  -webkit-transition: 0.3s;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  object-fit: cover;
}
@media (max-width: 576px) {
  .our-work-slid .owl-item .item img {
    max-height: 550px;
    transform: scale(1);
  }
}

.our-work-slid .owl-item.center .item img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
@media (max-width: 576px) {
  .our-work-slid .owl-item.center .item img {
    max-height: 550px;
    transform: scale(1);
  }
}

.our-work-slid .owl-nav {
  text-align: center;
}

.our-work-slid .owl-nav button {
  font-size: 24px !important;
  margin: 10px;
  color: #033aff !important;
}

.our-work-slid .owl-dots {
  margin-top: 30px !important;
}
.our-work-slid .owl-dots .owl-dot span {
  width: 80px !important;
  transition: 0.5s;
}
.our-work-slid .owl-dots .owl-dot.active span {
  background: #892E2A;
  color: #fff;
}
.our-work-slid .owl-dots .owl-dot:hover span {
  background: #892E2A;
}

.our_ork_section {
  position: relative;
}
.our_ork_section .right-img, .our_ork_section .left-img {
  padding: 15px 0;
  position: absolute;
  width: 450px;
  height: auto;
  object-fit: cover;
  background-attachment: fixed;
  pointer-events: none;
  z-index: -1;
  top: 0;
}
@media (max-width: 576px) {
  .our_ork_section .right-img, .our_ork_section .left-img {
    display: none;
  }
}
html[lang=en] .our_ork_section .img-right {
  left: 0;
}
html[lang=ar] .our_ork_section .img-right {
  right: 0;
}
html[lang=en] .our_ork_section .left-img {
  right: 0;
}
html[lang=ar] .our_ork_section .left-img {
  left: 0;
}

.client-slider .item .img-client {
  max-width: 190px;
  object-fit: cover;
  margin: 0 auto;
}
@media (max-width: 1280px) {
  .client-slider .item .img-client {
    max-width: 150px;
    max-height: 45px;
  }
}
@media (max-width: 550px) {
  .client-slider .item .img-client {
    max-width: 110px;
  }
}

.main-cl {
  color: #892E2A;
}

.added-mr {
  margin-inline-start: 50px;
}

.contact-us {
  padding: 80px 20px;
  object-fit: cover;
  background-size: cover;
}
@media (max-width: 576px) {
  .contact-us {
    padding: 40px 10px;
  }
}

.hint-wh {
  color: rgba(230, 230, 230, 0.8);
}

.main-input {
  width: 100%;
  min-height: 40px;
  border-radius: 5px;
  display: flex;
  padding: 10px 15px;
  border: 1px solid #fff;
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  transition: 0.3s ease-in-out;
  font-size: 16px;
  margin-bottom: 30px;
}
@media (max-width: 550px) {
  .main-input {
    font-size: 14px;
    min-height: 40px;
  }
}
.main-input .input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: #fff;
}
.main-input .input::placeholder {
  font-size: 14px;
  color: #fff;
  transition: 0.5s ease-in-out !important;
}
@media (max-width: 550px) {
  .main-input .input::placeholder {
    font-size: 12px;
  }
}
.main-input .icon {
  font-size: 18px;
  margin-inline-end: 15px;
}
.main-input::placeholder {
  font-size: 14px;
  color: #fff;
  transition: 0.5s ease-in-out !important;
}
@media (max-width: 550px) {
  .main-input::placeholder {
    font-size: 12px;
  }
}
.main-input:focus {
  border-color: #814fe9;
}
html[lang=en] .main-input:focus::placeholder {
  transform: translateX(-100%);
}
html[lang=ar] .main-input:focus::placeholder {
  transform: translateX(100%);
}
.main-input .icon-img {
  position: absolute;
  top: 50%;
  font-size: 18px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #bfbfbf;
  font-size: 22px;
}
html[lang=en] .main-input .icon-img {
  right: 10px;
}
html[lang=ar] .main-input .icon-img {
  left: 10px;
}
.main-input .dn-input {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
html[lang=en] .main-input .dn-input {
  left: 0;
}
html[lang=ar] .main-input .dn-input {
  right: 0;
}
.main-input.text-area {
  resize: none;
  min-height: 130px;
}
@media (max-width: 550px) {
  .main-input.text-area {
    min-height: 100px;
  }
}

.faq .card-header .title {
  font-size: 15px;
  color: #000;
}
@media (max-width: 576px) {
  .faq .card-header .title {
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.faq .card-header .accicon {
  font-size: 20px;
}
html[lang=en] .faq .card-header .accicon {
  margin-left: 15px;
}
html[lang=ar] .faq .card-header .accicon {
  margin-right: 15px;
}
.faq .card-header {
  cursor: pointer;
  border-bottom: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 6px;
  transition: 0.5s;
  box-shadow: 0 0 3px transparent;
  padding: 10px 20px;
  box-shadow: 0 0 3px rgba(14, 14, 14, 0.5);
}
@media (max-width: 576px) {
  .faq .card-header {
    padding: 10px;
  }
}
.faq .card-body {
  padding: 20px 10px;
  padding-top: 15px;
  font-size: 15px;
  color: #666666;
  margin-top: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
.faq .card {
  border: 0;
}
.faq .card:not(:last-child) {
  margin-bottom: 30px;
}
@media (max-width: 576px) {
  .faq .card:not(:last-child) {
    margin-bottom: 20px;
  }
}
.faq .card .rotate-icon {
  transition: 0.5s;
}
.faq .card-header:not(.collapsed) .rotate-icon {
  transform: rotate(180deg);
}
.faq .card-header:not(.collapsed) {
  box-shadow: 0 0 3px rgba(14, 14, 14, 0.5);
}

.about-img {
  max-height: 340px;
  object-fit: cover;
}
@media (max-width: 576px) {
  .about-img {
    max-height: 200px;
  }
}

.footer-contact {
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: center;
  justify-content: center;
}
.footer-contact:not(:last-child) {
  margin-bottom: 13px;
}
.footer-contact p {
  color: #000;
}

.inner-footer {
  padding: 50px 10px;
}
.inner-footer ul li:not(:last-child) {
  margin-bottom: 8px;
}
.inner-footer ul li a {
  color: #fff;
  font-size: 15px;
}

.footer-logo {
  max-height: 115px;
  object-fit: cover;
  margin-bottom: 15px;
}
@media (max-width: 576px) {
  .footer-logo {
    max-height: 80px;
  }
}

@media (max-width: 576px) {
  .custom-row {
    margin-right: 0;
    margin-left: 0;
  }
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  z-index: 9999;
  text-align: center;
  cursor: pointer;
  border: 0;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
html[lang=en] .back-to-top {
  right: 40px;
}
html[lang=ar] .back-to-top {
  left: 40px;
}

.back-to-top.show {
  opacity: 1;
}

.back-to-top i {
  width: 32px;
  height: 32px;
  line-height: 32px;
  color: #fff;
  font-size: 17px;
  background: #602420;
  border-radius: 4px;
}

.sticky-icon {
  transition: 0.5s all linear;
  z-index: 111111;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}
html[lang=en] .sticky-icon.unshow {
  transform: translate(100%, -50%);
}
html[lang=ar] .sticky-icon.unshow {
  transform: translate(-100%, -50%);
}
.sticky-icon.show {
  transform: translate(0, -50%);
}
html[lang=en] .sticky-icon {
  right: 0;
}
html[lang=ar] .sticky-icon {
  left: 0;
}

.sticky-icon a {
  margin: 2px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px 10px;
  font-size: 14px;
  font-family: "Oswald", sans-serif;
  transition: all 0.8s;
}
html[lang=en] .sticky-icon a {
  transform: translateX(115px);
}
html[lang=ar] .sticky-icon a {
  transform: translateX(-110px);
}
html[lang=en] .sticky-icon a {
  border-radius: 50px 0px 0px 50px;
}
html[lang=ar] .sticky-icon a {
  border-radius: 0 50px 50px 0;
}

.sticky-icon a:hover {
  color: #FFF;
  transform: translateX(0) !important;
}

.sticky-icon a:hover i {
  transform: rotate(360deg);
}

.Facebook {
  background-color: #2C80D3;
  color: #FFF;
}

.Whatsapp {
  background-color: #25D366;
  color: #FFF;
}

.tiktok {
  background-color: #000;
  color: #FFF;
}

.Twitter {
  background-color: #53c5ff;
  color: #FFF;
}

.Instagram {
  background-color: #FD1D1D;
  color: #FFF;
}

.Google {
  background-color: #d34836;
  color: #FFF;
}

.sticky-icon a i {
  background-color: #FFF;
  height: 25px;
  width: 25px;
  color: #000;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  margin-inline-end: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  transition: all 0.5s;
}

.sticky-icon a i.fa-facebook-f {
  background-color: #FFF;
  color: #2C80D3;
}

.sticky-icon a i.fa-google-plus-g {
  background-color: #FFF;
  color: #d34836;
}

.sticky-icon a i.fa-instagram {
  background-color: #FFF;
  color: #FD1D1D;
}

.sticky-icon a i.fa-youtube {
  background-color: #FFF;
  color: #fa0910;
}

.sticky-icon a i.fa-twitter {
  background-color: #FFF;
  color: #53c5ff;
}

.sticky-icon a i.fa-whatsapp {
  background-color: #FFF;
  color: #25D366;
}

.fas fa-shopping-cart {
  background-color: #FFF;
}

.fa-arrow-circle-up {
  font-size: 30px;
}

#myBtn:hover {
  background-color: #555;
}

.footer-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.footer-icon a {
  color: #000;
  font-size: 1.2rem;
}
.footer-icon a:hover {
  transform: scale(1.3);
}

/*# sourceMappingURL=style.css.map */
