@import "variables", "dir-mixins", "settings", "classes";



.header {
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.5s ease-out;
    background-color: #F3F3F3;
    box-shadow: 0 0 24px 0 #0202021C;
    &.fixed {
      background-image: linear-gradient(to top, #fff, #f5f5f4);
      box-shadow: 0 3px 10px rgba(90, 74, 40, 16%);
      padding-top: 10px;
      padding-bottom: 10px;
      .nav-header {
        padding: 0;
      }
    }
  }

.nav-header {
    padding: 10px 0;
    // margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
        display: block;
        img {
            margin-inline-end: 9.5px;
            max-height: 40px;
            object-fit: cover;
        }
        p {
            font-size: 30px;
            font-weight: 700;
            letter-spacing: 1px;
            color: #000000;
            // font-family: "Nunito", sans-serif;
            @media (max-width: $screen-xs) {
               font-size: 16px;
            }
        }
    }
    .nav-links {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 45px;
        @media (max-width: $screen-xl) {
          gap: 30px;
        }
        @media (max-width: 1000px) {
          position: fixed;
          padding: 20px 0;
          @include dir-right(0);
          top: 0;
          width: 170px;
          height: 100%;
          background-color: rgba(0, 0, 0, 70%);
          z-index: 4;
          flex-direction: column;
          transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          #{$ltr} & {
            transform: translateX(100%);
          }
          #{$rtl} & {
            transform: translateX(-100%);
          }
          &.active {
            #{$ltr} & {
              transform: translateX(0);
            }
            #{$rtl} & {
              transform: translateX(0);
            }
          }
    
          justify-content: flex-start;
          flex-grow: 0;
          overflow-y: auto;
        }
        .link {
          display: block;
          font-size: 17px;
          color: #000;
          font-weight: 600;
          @media (max-width: $screen-md) {
            color: #fff;
            font-size: 15px;
          }
          &.active,
          &:hover {
            color: #5F221E;
            @media (max-width: $screen-md) {
               color: #fff;
            }
          }
        }
        li:not(:last-child) {
          @media (max-width: 1000px) {
            margin-bottom: 35px;
          }
        }

        &::-webkit-scrollbar {
            width: 6px;
            height: 6px;
            transition: 0.3s;
            @media (max-width: $screen-md) {
              height: 1px;
            }
          }
          /* Track */
          &::-webkit-scrollbar-track {
            background: #f1f1f1;
            border-radius: 3px;
            transition: 0.3s;
          }
          /* Handle */
          &::-webkit-scrollbar-thumb {
            background-image: linear-gradient(to top, #E4E4E4, #5E221E);
            transition: 0.3s;
            border-radius: 3px;
          }
          /* Handle on hover */
          &::-webkit-scrollbar-thumb {
            transition: 0.3s;
            &:hover {
              background: #555;
            }
          }
      }
    .left {
      gap: 8px;
      display: flex;
      align-items: center;

        @media (max-width: $screen-md) {
          display: flex;
          // align-items: center;
        }
        .lang {
          margin-inline-start: 10px;
          @media (max-width: 550px) {
            margin-inline-start: 7px;
          }
          .dropdown-menu {
            min-width: 99px;
            padding: 5px 10px;
            margin-top: 15px;
            @media (max-width: 550px) {
              min-width: 70px;
            }
            .dropdown-item {
              padding: 0;
              &:hover,
              &:focus {
                background-color: #fff;
              }
              &.active {
                color: #000;
                background-color: #fff;
              }
            }
          }
          button {
            background: transparent;
            display: flex;
            align-items: center;
            color: #000;
            font-size: 14px;
            padding: 0;
            &::after {
              content: "\f078";
              top: 30%;
              @include dir-right(0);
              font-weight: 600;
              color: #000;
              font-size: 11px;
              @include dir-margin-left(5px);
            }
          }
        }
        .sign-link {
            font-size: 14px;
            color: #fff;
            background: #F26523;
            padding: 13px;
            border-radius: 10px;
            @media (max-width: $screen-md) {
              padding: 8px 10px;
              font-size: 18px;
              @include dir-margin-left(10px);
            }
            span {
                @media (max-width: $screen-md) {
                  display: none;
                }
            }
            i {
                display: none;
                @media (max-width: $screen-md) {
                  display: block;
                }
            }
        }
    }
}

body {
    background-color: #F3F3F3;
    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
      transition: 0.3s;
      @media (max-width: $screen-md) {
        height: 1px;
      }
    }
    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 3px;
      transition: 0.3s;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background-image: linear-gradient(to top, #602420, #ab9f9f);
      transition: 0.3s;
      border-radius: 3px;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb {
      transition: 0.3s;
      &:hover {
        background: #555;
      }
    }
}

.main-btn {
    background: #5E221E;
    min-width: 160px;
    height: 45px;
    padding: 15px 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    text-decoration: none;
    --c: #fff;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    border: 1px solid #fff;
    i {
      margin-inline-start: 10px;
    }
    &.sm {
      height: 40px;
    }
    @media (max-width: $screen-xs) {
       min-width: 120px;
    }
}

.main-btn span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}
  
  .main-btn:hover {
    color: black;
    border-color: #5E221E;
  }
  
  .main-btn:hover span {
    transform: translateY(0) scale(2);
  }
  
  .main-btn span:nth-child(1) {
    --n: 1;
  }
  
  .main-btn span:nth-child(2) {
    --n: 2;
  }
  
  .main-btn span:nth-child(3) {
    --n: 3;
  }
  
  .main-btn span:nth-child(4) {
    --n: 4;
  }
  
  .nav-btn {
    background: transparent;
    width: 30px;
    height: 20px;
    position: relative;
    display: none;
    padding: 0;
    @media (max-width: 1000px) {
      display: block;
    }
    span {
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: #000;
        transition: 0.5s;
        left: 0;
    }
    span:nth-child(1) {
        top: 0;
    }
    span:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
    }
    span:nth-child(3) {
        top: 100%;
        transform: translateY(-100%);
    }
    &.active span:first-child {
        top: 50%;
        transform: rotate(45deg);
        transition: .5s;
    }
    &.active span:nth-child(2) {
        #{$ltr} & {
            transform: translateX(-150%);
        }
        #{$rtl} & {
            transform: translateX(150%);
        }
        opacity: 0;
    }
    &.active span:last-child {
        top: 50%;
        transform: rotate(-45deg);
        transition: .5s;
    }

}

.nav-overlay {
    @media (max-width: $screen-md) {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        background-color: #000;
        opacity: .5;
        transition: .5s;
        #{$ltr} & {
            transform: translateX(-100%);
        }
        #{$rtl} & {
            transform: translateX(100%);
        }
        @include dir-left(0);
        &.show {
            #{$ltr} & {
                transform: translateX(0);
            }
            #{$rtl} & {
                transform: translateX(0);
            }
        }
    }
}

.banner-home {
    padding: 120px 0 35px;
    background-color: #E4E4E4;
    margin-bottom: 150px;
    @media (max-width: $screen-md) {
       padding: 100px 0;
       margin-bottom: 100px;
    }
    @media (max-width: $screen-xs) {
       padding: 90px 0;
       margin-bottom: 80px;
    }
}

.banner-text {
    .title {
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 0;
        @media (max-width: $screen-xs) {
           font-size: 26px;
        }
        &.cl {
            color: rgba(0, 0, 0, 80%);
        }
    }
    .sub-title {
        font-size: 25px;
        margin-bottom: 0;
        color: #000;
        @media (max-width: $screen-xs) {
           font-size: 19px;
        }
    }
}

.banner-img {
    .img {
        height: 445px;
        object-fit: cover;
        width: auto;
        max-width: 100%;
        @media (max-width: $screen-xs) {
           height: auto;
        }
    }
}

.inner-counter {
    background-color: #FFFFFF42;
    backdrop-filter: blur(25.7px);
    padding: 20px 20px 0;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    .hint {
        font-size: 18px;
        color: #000;
        font-weight: bold;
        margin-bottom: 5px;
        @media (max-width: $screen-xs) {
           font-size: 18px;
        }
    }
}

.count_num, .counter_plugin {
    gap: 2px;
    font-size: 25px;
    color: #892E2A;
    font-weight: bold;
    justify-content: center;
}

.dsec_num {
    font-size: 17px;
    color: #000;
}

.box{
    padding: 15px 20px 20px;
    background-color: #FAFAFA;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(148, 148, 148, 50%);
    
    position: relative;
    z-index: 999 !important;
    overflow: hidden;
    transition: all .5s linear;
    .image-content{
      width: 90px;
      height: 90px;
      padding: 20px;
      background: #fff;
      border-radius: 50%;
      transition: all .4s linear;
      margin-bottom: 20px;
      @media (max-width: $screen-xs) {
        width: 70px;
        height: 70px;
        padding: 15px;
        margin-bottom: 10px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .content{
        h4{
            font-size: 20px;
            color: #000;
            font-family: 'bold';
            margin-bottom: 20px;
        }
        p{
            font-size: 14px;
            line-height: 1.8rem;
            color: #949494;
        }
    }
    &::after{
        content: '';
        position: absolute;
        width: 150px;
        height: 150px;
        right: -50px;
        bottom: -50px;
        z-index: -1;
        background-color: #EDEEF6;
        animation: rotate 8s infinite ease-in-out;
        box-shadow: -30px -30px 0px 0px rgba(237,238,246,.5);
    }
    &:hover{
        transform: translateY(-15px);
        background-color: #fff;
        .content{
            h4, p{
                color: #000;
            }
            
        }
        .image-content{
            background-color: #892E2A;
        }

        .service_img {
          filter: brightness(0) invert(1);
        }
    }
  }



  /*start rotate*/
// @keyframes rotate {
//     0% {
//         border-top-left-radius: 50%;
//         border-top-right-radius: 60%;
//         border-bottom-left-radius: 40%;
//         border-bottom-right-radius: 55%;
//     }
  
//     25% {
//         border-top-left-radius: 30%;
//         border-top-right-radius: 10%;
//         border-bottom-left-radius: 20%;
//         border-bottom-right-radius: 70%;
//     }
  
//     50% {
//         border-top-left-radius: 20%;
//         border-top-right-radius: 40%;
//         border-bottom-left-radius: 60%;
//         border-bottom-right-radius: 30%;
//     }
  
//     75% {
//         border-top-left-radius: 70%;
//         border-top-right-radius: 20%;
//         border-bottom-left-radius: 30%;
//         border-bottom-right-radius: 50%;
//     }
  
//     100% {
//         border-top-left-radius: 50%;
//         border-top-right-radius: 60%;
//         border-bottom-left-radius: 40%;
//         border-bottom-right-radius: 55%;
//     }
//   }

@keyframes rotate {
    0% {
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        transform: rotate(0deg) scale(1); /* Add rotation and scale */
    }
  
    25% {
        border-top-left-radius: 40%;
        border-top-right-radius: 60%;
        border-bottom-left-radius: 60%;
        border-bottom-right-radius: 40%;
        transform: rotate(5deg) scale(1.05); /* Slight rotation and scaling */
    }
  
    50% {
        border-top-left-radius: 60%;
        border-top-right-radius: 40%;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 60%;
        transform: rotate(-5deg) scale(1.1); /* Reverse rotation and scaling */
    }
  
    75% {
        border-top-left-radius: 55%;
        border-top-right-radius: 55%;
        border-bottom-left-radius: 40%;
        border-bottom-right-radius: 55%;
        transform: rotate(3deg) scale(1.05); /* Smooth rotation */
    }
  
    100% {
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        transform: rotate(0deg) scale(1); /* Back to normal */
    }
}

.main-title {
    font-size: 22px;
    color: #000;
    &.lg {
        font-size: 28px;
        @media (max-width: $screen-xs) {
            font-size: 22px;
        }
    }
    &.shape {
      position: relative;
      width: fit-content;
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        @include dir-left(0);
        width: 40px;
        height: 4px;
        border-radius: 30px;
        background-color: #892E2A;
        #{$ltr} & {
          transform: translate(-120%, -50%);
        }
        #{$rtl} & {
          transform: translate(120%, -50%);
        }
    }
  }
  &.xl {
    font-size: 36px;
    @media (max-width: $screen-xs) {
        font-size: 28px;
    }
  }
}

.wh-color {
  color: #fff;
}

.gray {
  color: #E6E6E6CC;
}

.bold {
  font-weight: bold;
}

.desc {
    font-size: 19px;
    color: #504B4BCC;
}

.custom-mb {
  margin-bottom: 100px;
  @media (max-width: $screen-md) {
     margin-bottom: 60px;
  }
  @media (max-width: $screen-xs) {
     margin-bottom: 30px;
  }
}


.hint-span {
  display: flex;
  height: 4px;
  background: #892E2A;
  border-radius: 20px;
  width: 80px;
}

.text-info {
  display: flex;
  align-items: center;
}

.about-shape {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.about-name {
  margin-inline-start: -15px;
}

.about_image {
  object-fit: cover;
    width: 100%;
    max-height: 450px;
}

// .our-work-slid {
//   .item {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     img {
//       object-fit: cover;
//       width: 100%;
//       // transition: .5s ease-out;
//       max-height: 350px; /* ارتفاع افتراضي للصور غير المركزية */

//     }
//   }
//   .owl-item.active.center {
//     .item {
//       img {
//         transform: scale(1.1);
//         max-height: 500px;

//       }
//     }
//   }
// }


.our-work-slid .owl-item .item {
  transform: translate3d(0, 0, 0);
  display: block; 
 margin: 50px 0;
}

.our-work-slid .owl-item .item img {
   -webkit-transition: 0.3s;
   -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
   box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
   -o-transition: 0.3s;
   transition: 0.3s;
   -webkit-transform: scale(0.90);
   -ms-transform: scale(0.90);
   transform: scale(0.90);
   object-fit: cover;
   @media (max-width: $screen-xs) {
    max-height: 550px;
    transform: scale(1);
 }
}

.our-work-slid .owl-item.center .item img {
   -webkit-transform: scale(1.1);
   -ms-transform: scale(1.1);
   transform: scale(1.1);
   @media (max-width: $screen-xs) {
      max-height: 550px;
      transform: scale(1);
   }
}

.our-work-slid .owl-nav {
   text-align: center;
   // margin: 40px 0;
}

.our-work-slid .owl-nav button {
 font-size: 24px !important;
 margin: 10px;
 color: #033aff !important;
}

.our-work-slid {
  .owl-dots {
    margin-top: 30px !important;
    .owl-dot span {
      width: 60px !important;
      transition: 0.5s;
    }
  } 
  .owl-dots .owl-dot {
    &.active span {
      background: #892E2A;
      color: #fff;
    }
    &:hover span {
      background: #892E2A;
    }

  }
}

.our_ork_section {
  position: relative;
  .right-img, .left-img {
    padding: 15px 0;
    position: absolute;
    width: 450px;
    height: auto;
    object-fit: cover;
    background-attachment: fixed;
    pointer-events: none;
    z-index: -1;
    top: 0;
    @media (max-width: $screen-xs) {
       display: none;
    }
  }
  .img-right {
    @include dir-left(0);
  }
  .left-img {
    @include dir-right(0);
  }
}

.client-slider {

  .item {
    width: 80px;
    height: 120px;
    // .img-client {
    //   // max-width: 190px;
    //   height: auto;
    //   object-fit: cover;
    //   margin: 0 auto;
    //   @media (max-width: $screen-xl) {
    //     max-width: 150px;
    //   }
    //   @media (max-width: 550px) {
    //     max-width: 110px;
    //   }
    // }
    img {
      max-width: 100%;
      height: 100% !important;
      height: auto;
      object-fit: contain;
    }
  }
}

.main-cl {
  color: #892E2A;
}

.added-mr {
  margin-inline-start: 50px;
}

.contact-us {
  padding: 80px 20px;
  object-fit: cover;
  background-size: cover;
  @media (max-width: $screen-xs) {
     padding: 40px 10px;
  }
}
.hint-wh {
  color: #E6E6E6CC;
}
.main-input {
  width: 100%;
  min-height: 40px;
  border-radius: 5px;
  display: flex;
  padding: 10px 15px;
  border: 1px solid #fff;
  position: relative;
  background-color: rgb(255 255 255 / 10%);
  color: #fff;
  transition: 0.3s ease-in-out;
  font-size: 16px;
  margin-bottom: 30px;
  @media (max-width: 550px) {
    font-size: 14px;
    min-height: 40px;
  }
  .input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: #fff;
    &::placeholder {
      font-size: 14px;
      color: #fff;
      transition: 0.5s ease-in-out !important;
      @media (max-width: 550px) {
        font-size: 12px;
      }
    }
  }
  .icon {
    font-size: 18px;
    margin-inline-end: 15px;
  }
  &::placeholder {
    font-size: 14px;
    color: #fff;
    transition: 0.5s ease-in-out !important;
    @media (max-width: 550px) {
      font-size: 12px;
    }
  }

  &:focus {
    border-color: #814fe9;
    &::placeholder {
      #{$ltr} & {
        transform: translateX(-100%);
      }
      #{$rtl} & {
        transform: translateX(100%);
      }
      
    }
  }

  .icon-img {
    position: absolute;
    @include dir-right(10px);
    top: 50%;
    font-size: 18px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #bfbfbf;
    font-size: 22px;
  }

  .dn-input {
    @include dir-left(0);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
  }
  &.text-area {
    resize: none;
    min-height: 130px;
    @media (max-width: 550px) {
      min-height: 100px;
    }
  }
}

.faq {
  .card-header .title {
    font-size: 15px;
    color: #000;
    @media (max-width: $screen-xs) {
      font-size: 13px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .card-header .accicon {
    @include dir-margin-left(15px);
    font-size: 20px;
  }
  .card-header {
    cursor: pointer;
    border-bottom: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 6px;
    transition: 0.5s;
    box-shadow: 0 0 3px transparent;
    padding: 10px 20px;
    box-shadow: 0 0 3px rgba(14, 14, 14, 0.5);
    @media (max-width: $screen-xs) {
      padding: 10px;
    }
  }
  .card-body {
    padding: 20px 10px;
    padding-top: 15px;
    font-size: 15px;
    color: #666666;
    margin-top: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 25%);
    border-radius: 4px;
  }
  .card {
    border: 0;
    &:not(:last-child) {
      margin-bottom: 30px;
      @media (max-width: $screen-xs) {
        margin-bottom: 20px;
      }
    }
    .rotate-icon {
      transition: 0.5s;
    }
  }

  .card-header:not(.collapsed) .rotate-icon {
    transform: rotate(180deg);
  }
  .card-header:not(.collapsed) {
    box-shadow: 0 0 3px rgba(14, 14, 14, 50%);
  }
}

.about-img {
  max-height: 340px;
  object-fit: cover;
  @media (max-width: $screen-xs) {
    max-height: 200px;
  }
}

.footer-contact {
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: center;
  justify-content: center;
  &:not(:last-child) {
    margin-bottom: 13px;
  }
  p {
    color: #000;
  }
}

.inner-footer {
  padding: 50px 10px;
  ul {
    li {
      &:not(:last-child) {
        margin-bottom: 8px;
      }
      a {
        color: #fff;
        font-size: 15px;
      }
    }
  }
}

.footer-logo {
   max-height: 115px;
   object-fit: cover;
   margin-bottom: 15px;
   @media (max-width: $screen-xs) {
     max-height: 80px;
   }
}

.custom-row {
  @media (max-width: $screen-xs) {
    margin-right: 0;
    margin-left: 0;
  }
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  @include dir-right(40px);
  z-index: 9999;
  text-align: center;
  cursor: pointer;
  border: 0;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
.back-to-top.show {
  opacity: 1;
}
.back-to-top i {
  width: 32px;
  height: 32px;
  line-height: 32px;
  color: #fff;
  font-size: 17px;
  background: #602420;
  border-radius: 4px;
}

.sticky-icon  {
  transition: .5s all linear;
  &.unshow {
    #{$ltr} & {
      transform: translate(100%, -50%);
      
    }
    #{$rtl} & {
      transform: translate(-100%, -50%);
    }
  }
  &.show {
    transform: translate(0, -50%);
  }
	z-index:111111;
	position:fixed;
	top:50%;
  transform: translateY(-50%);
	@include dir-right(0);
	// width:220px;
	display:flex;
	flex-direction:column;}  
.sticky-icon a  {
  #{$ltr} & {
    transform:translateX(115px);
  }
  #{$rtl} & {
    transform: translateX(-110px);
  }
  #{$ltr} & {
    border-radius:50px 0px 0px 50px;
  }
  #{$rtl} & {
    border-radius: 0 50px 50px 0;
  }
	margin:2px;
	text-decoration:none;
	text-transform:uppercase;
  padding: 5px 10px;
  font-size: 14px;
	font-family:'Oswald', sans-serif;
	transition:all 0.8s;}
.sticky-icon a:hover  {
	color:#FFF;

	transform:translateX(0) !important;}	
.sticky-icon a:hover i  {
	transform:rotate(360deg);}
.Facebook  {
	background-color:#2C80D3;
	color:#FFF;}

.Whatsapp  {
  background-color:#25D366;
  color:#FFF;}
	
.tiktok  {
	background-color:#000;
	color:#FFF;}
	
.Twitter  {
	background-color:#53c5ff;
	color:#FFF;}
	
.Instagram  {
	background-color:#FD1D1D;
	color:#FFF;}
	
.Google  {
	background-color:#d34836;
	color:#FFF;}						
.sticky-icon a i {
	background-color:#FFF;
	height:25px;
	width:25px;
	color:#000;
	text-align:center;
	line-height:40px;
	border-radius:50%;
	margin-inline-end:20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
	transition:all 0.5s;}
.sticky-icon a i.fa-facebook-f  {
	background-color:#FFF;
	color:#2C80D3;}
	
.sticky-icon a i.fa-google-plus-g  {
	background-color:#FFF;
	color:#d34836;}
	
.sticky-icon a i.fa-instagram  {
	background-color:#FFF;
	color:#FD1D1D;}
	
.sticky-icon a i.fa-youtube  {
	background-color:#FFF;
	color:#fa0910;}
	
.sticky-icon a i.fa-twitter  {
	background-color:#FFF;
	color:#53c5ff;}

.sticky-icon a i.fa-whatsapp  {
  background-color:#FFF;
  color:#25D366;}

.fas fa-shopping-cart  {
	background-color:#FFF;}	

.fa-arrow-circle-up  {
	font-size:30px;}

#myBtn:hover {
  background-color: #555;
}

.footer-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  a {
    color: #000;
    font-size: 1.2rem;
    &:hover {
      transform: scale(1.3);
    }
  }
}

.whatsapp-icon {
  position: fixed;
  bottom: 35px;
  @include dir-left(40px);
  z-index: 9999;
  text-align: center;
  cursor: pointer;
  border: 0;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  width: 85px;
  height: 85px;
  padding: 15px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 0 rgb(37 212 100 / 60%), 0 0 0 0 #25d464;
  animation: shadow 1.4s ease-out infinite;

  img {
    width: 100%;
    height: 100%;
    transition: .5s;
  }

  &:hover {
    transform: scale(1.2);
    img {
      transform: rotate(360deg);
    }
  }
}
@keyframes shadow {
  100% {
      box-shadow: 0 0 0 10px rgba(255, 102, 0, 0), 0 0 0 20px rgba(255, 102, 0, 0);
  }
}